.movie-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.movie-list img {
  height: 100%;
  width: fit-content;
}

.poster {
  position: relative;
  margin: 0 12px 12px 12px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: 400ms;
}

.poster-footer {
  position: absolute;
  background-color: rgb(255 255 255 / 80%);
  color: black;
  width: 100%;
  transform: scale(0);
  bottom: 0;
  height: 70px;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-footer img {
  height: 22px;
  width: auto;
  margin-left: 6px;
  transition: 400ms;
}

.poster:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.poster:hover .poster-footer {
  transform: scale(1);
}

.poster-footer:hover img {
  transform: scale(1.2);
}