.favorite-movie-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.favorite-movie-list img {
  width: 220px;
  height: 100%;
}

.favorite-poster {
  position: relative;
  margin: 0 12px 12px 12px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: 400ms;
}

.favorite-poster-footer {
  position: absolute;
  background-color: rgb(255 255 255 / 80%);
  color: black;
  width: 100%;
  transform: scale(0);
  bottom: 0;
  height: 50px;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-poster:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.favorite-poster:hover .favorite-poster-footer {
  transform: scale(1);
}